@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mantenimiento</h1>
    <p class="lead"></p>
    <p><a href="/Clientes/index" class="btn btn-primary btn-lg">Mantenimiento Cliente &raquo;</a></p>
        
    <p class="lead"></p>
    <p><a href="/Pais/index" class="btn btn-primary btn-lg">Mantenimiento Pais &raquo;</a></p>
</div>

